@import "./styles/colors.css";
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80vh;
  padding: 20;
  margin-top: 20;
  background-color: rgb(49, 49, 49);
  border: 1;
  border-radius: 5%;
}

#addButton{
  background-color: var(--dark-green);
}